# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python egg and distribution files
*.egg
*.egg-info/
dist/
build/
*.tar.gz

# Coverage reports
.coverage
*.coveragerc

# pytest
.pytest_cache/
# ruff
.ruff_cache/
