# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
.env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python egg and distribution files
*.egg
*.egg-info/
dist/
build/
*.tar.gz

# Coverage reports
.coverage
*.coveragerc

# pytest
.pytest_cache/
# ruff
.ruff_cache/

# macOS folder metadata
.DS_Store

# Output written by the notebooks when they are run
greenland_mb_validation_output/
