# When pushing to a branch, test
# When adapting this template for your own use, please rename "dtc_python_template" to your package name.
name: dtc_python_template_test

on:
  push:
    branches-ignore:
      - main  # all branches except main (and implicitly not tags)

jobs:
  # build_container_if_needed:
  #   uses: ./.github/workflows/generic_build_container_if_needed.yml
  #   with:
  #     package_name: dtc_python_template
  #   secrets: inherit

  # test_with_container:
  #   needs: build_container_if_needed
  #   uses: ./.github/workflows/generic_test_with_container.yml
  #   with:
  #     package_name: dtc_python_template
  #     notebooks_allowed: true
  #   secrets: inherit

  test:
    uses: ./.github/workflows/generic_test.yml
    with:
      package_name: dtc_python_template
      notebooks_allowed: true
    secrets: inherit
